
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@113.2,500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}
body{
    background-color: black;
    color: white;
}

.container{
    display: flex;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 10px;
    font-weight: 500;
}

.heading img{
    width: 18px ;
}

.heading{
    display: flex;
    gap: 15px;
    width:100%;
    padding-top: 14px;
    /* font-weight: bold; */
    align-items: center;
    font-size: 11px;
}

.library{
    position: relative;
    min-height: 80vh;
}

.footer{
    display: flex;
    font-size: 10px;
    font-weight: 400;
    gap: 13px;
    position: absolute;
    bottom: 0;
    
}

.footer a{
    color:#b3b3b3;
}

.right{
    margin: 16px 0;
}
.header{
    display: flex;
    justify-content: space-between;
}

.header > *{
    padding: 20px;
}
